@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: '__styreneA_403256';
    src: url('/fonts/styreneA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '__styreneA_Fallback_403256';
    src: local('Arial');
    font-weight: normal;
    font-style: normal;
    ascent-override: 90%;
    descent-override: 22.43%;
    line-gap-override: 0%;
    size-adjust: 107.64%;
}
